.review-card{
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 1vmax;
}

.review-card > div{
    color: #212121f2;
    font-size: 24px;
    font-weight: 500;
}

.review-card > small{
    color: #282727d0;
    font-size: 12px;
}